# Binaries
bin/
*.exe
*.exe;
*.dll
*.so
*.dylib
/tc-cli

# Test binaries
*.test

# Go workspace
go.work
go.work.sum

# Output of 'go build'
*.out

# Dependency directories (pkg)
vendor/

# Environment variables
.env
*.env

# Rclone cache and config files
.rclone/
rclone.conf

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
